[submodule "src/lib/Newtonsoft.Json"]
	path = src/lib/Newtonsoft.Json
	url = https://github.com/nitrocaster/Newtonsoft.Json.git
[submodule "src/lib/bc-csharp"]
	path = src/lib/bc-csharp
	url = https://github.com/bcgit/bc-csharp.git
