[submodule "src/lib/Newtonsoft.Json"]
	path = src/lib/Newtonsoft.Json
	url = https://github.com/nitrocaster/Newtonsoft.Json.git
[submodule "src/lib/Crypto.NET"]
	path = src/lib/Crypto.NET
	url = https://github.com/Reaper38/Crypto.NET.git
